{% extends "layout/html.twig" %}
{% block extrastyles %}
    <style>
        section{
            background-color: #faf9f5;
        }
        footer .whole-footer{
            margin: 0!important;
        }
        form{
            margin: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="wrap">
    <form method="post" action="{{ Url.site('auth/register') }}" style="margin-top: 138px; width: 800px; text-align: right; padding: 30px 0;">
                <div>
                    <h4 class="form-signin-heading">{{ "РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЯ"|i18n }}</h4>
                </div>
                <div class="reg_form">
                    <div>
                        <label for="username">{{ "Имя пользователя:"|i18n }}</label>
                        <input type="text" name="username" class="input-block-level {% if errors.username is defined %}error{% endif %}" value="{{username}}" required id="username">
                        {% if errors.username is defined %}
                            <div class="alert">
                                {% if errors.username =='Такой "Имя пользователя" уже существует' %}
                                    {{ "The user with the same name already exists"|i18n }}
                                {% else %}
                                    {{ errors.username }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div>
                    <label for="email">{{ "E-mail:"|i18n }}</label>
                    <input type="text" name="email" class="input-block-level {% if errors.email is defined %}error{% endif %}" value="{{email}}" required id="email">
                    {% if errors.email is defined %}
                        <div class="alert">
                            {% if errors.email=='Такой "Электронная почта" уже существует' %}
                                {{ "This email already exists"|i18n }}
                            {% else %}
                                {{ errors.email }}
                            {% endif %}
                        </div>
                    {% endif %}
                    </div>
                    <div>
                    <label for="password">{{ "Пароль:"|i18n }}</label>
                    <input type="password" name="password" class="input-block-level {% if errors.password is defined %}error{% endif %}" required id="password">
                    {% if errors.password is defined %}
                        <div class="alert">{{ errors.password }}</div>
                    {% endif %}
                    </div>
                    <div>
                    <label for="password_confirm">{{ "Подтверждение пароля:"|i18n }}</label>
                    <input type="password" name="password_confirm" class="input-block-level {% if errors.password_confirm is defined %}error{% endif %}" required id="password_confirm">
                    {% if errors.password_confirm is defined %}
                        <div class="alert">{{ errors.password_confirm }}</div>
                    {% endif %}
                    </div>
            <img src="{{Url.media('/captcha/default')}}" width="150" height="50" alt="Captcha" class="captcha_old" />
            <input type="text" name="captcha" required style="margin: 0; width: 147px; height: 42px; font-size:35px" autocomplete="off" class="{% if errors.captcha is defined %}error{% endif %}">
            <a onclick="reload()" style="cursor: pointer;"><img src="{{Url.media('media/theme/refresh.png')}}" width="16px" height="16px"></a>
            {% if errors.captcha is defined %}
                <div class="alert">{{ errors.captcha }}</div>
            {% endif %}
            <script type="text/javascript">
                function reload(){
                    id=Math.floor(Math.random()*1000000);
                    $("img.captcha_old").attr("src","{{Url.media('/captcha/default?id=')}}"+id);
                }
            </script>
        </div>
        <div class="modal-footer">

            <button class="btn btn-large btn-primary" type="submit">{{ "Зарегистрироваться"|i18n }}</button>
        </div>
    </form>
</div>
{% endblock content %}
